<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>500 / ATRIC</title>

  <link rel="stylesheet" href="/css/style.css<%=cachebuster%>" media="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <link rel="icon" href="/favicon.png" type="image/png"/>
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png"/>

  <meta name="description" content="<%= pkg.description %>" />
  <meta name="author" content="<%= pkg.author.name %>" />
  <link rel="payment" href="<%= pkg.author.donate %>" type="text/html" />
</head>
<body>
  <article class="jumbotron">
    <div class="container">
      <div class="col-lg-8 col-md-8">
        <header>
          <h1>
            Internal Server Error
            <small>500</small>
          </h1>
        </header>
        <p>
          I'm sorry, but it looks like something went really wrong.
        </p>
        <p>
          If this happens to you often you should consult with an exorcist
          or (if it's just on this page), write me an email.
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <img src="http://i.imgur.com/6NfmQ.jpg" alt="Shit's on fire, yo" class="thumbnail"/>
      </div>
    </div>
  </article>

  <footer class="container">
    <%= partial('footer') %>
  </footer>
</body>
</html>
