<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ATRIC</title>

  <link rel="stylesheet" href="css/style.css" media="all"/>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <link rel="icon" href="/favicon.png" type="image/png"/>
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png"/>

  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
</head>
<body>

  <div class="no-ember">
    <div class="jumbotron">
      <h1>Loading&hellip;</h1>
      <p>
        Please stand by while awesomeness is being initialized.
      </p>
    </div>

    <footer class="container">
      <p class="text-center">
        ATRIC is an <a href="https://github.com/killercup/atric">open source</a> project by <a href="http://pascalhertleif.de/">Pascal Hertleif</a>.
      </p>
    </footer>
  </div>

  [% if (req.user) { %]
  <script>
    window.User = {
      "_id": "[%= req.user._id %]",
      "name": "[%= req.user.name %]"
    };
  </script>
  [% } %]

<% _.each(vendor_js, function (paths, name) { %><% if (paths.cdn) { %>
  <script src="<%= paths.cdn %>"></script>
  <script>window.<%= paths.global || name %> || document.write('<script src="<%= paths.local %>"><\/script>')</script>
<% } else { %>
  <script src="<%= paths.local %>"></script>
<% } }); %>
  <script src="js/templates.js"></script>
  <script src="js/app.js"></script>
  <script>require('index')</script>

<% if (!production) { %>
  <script src="http://localhost:35729/livereload.js"></script>
<% } %>
</body>
</html>