<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ATRIC</title>

  <link rel="stylesheet" href="/css/style.css<%=cachebuster%>" media="all"/>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <link rel="icon" href="/favicon.png" type="image/png"/>
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png"/>

  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

  <meta name="description" content="<%= pkg.description %>" />
  <meta name="author" content="<%= pkg.author.name %>" />
  <link rel="payment" href="<%= pkg.author.donate %>" type="text/html" />
</head>
<body>

  <div class="no-ember">
    <div class="jumbotron">
      <h1>Loading&hellip;</h1>
      <p>
        Please stand by while awesomeness is being initialized.
      </p>

      <noscript>
        <div class="alert alert-danger">
          Oh, no! You need to enable JavaScript to make this work.
        </div>
      </noscript>
    </div>

    <footer class="container">
      <%= _.template(footer, {pkg: pkg}) %>
    </footer>
  </div>

  <script type="text/x-handlebars" data-template-name="_footer">
    <%= _.template(footer, {pkg: pkg}) %>
  </script>

  [% if (req.user) { %]
  <script>
    window.User = {
      "_id": "[%= req.user._id %]",
      "name": "[%= req.user.name %]",
      "count": [%= req.user.books.length %],
      "created": [%= +req.user._id.getTimestamp() %],
      "twitter_id": "[%= req.user.twitter.id %]"
    };
  </script>
  [% } %]

<% _.each(vendor_js, function (paths, name) { %><% if (paths.cdn) { %>
  <script src="<%= paths.cdn %>"></script>
  <script>try { window.<%= paths.global || name %> || document.write('<script src="/<%= paths.local + cachebuster %>"><\/script>'); } catch (e) {}</script>
<% } else { %>
  <script src="/<%= paths.local + cachebuster %>"></script>
<% } }); %>
  <script src="/js/templates.js<%=cachebuster%>"></script>
  <script src="/js/app.js<%=cachebuster%>"></script>
  <script>require('index')</script>

<% if (!production) { %>
  <script src="http://localhost:35729/livereload.js"></script>
<% } %>
</body>
</html>