h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-rendering: optimizeLegibility;
}

.ember-application .no-ember {
  display: none;
}

body .navbar {
  border-radius: 0;

  @media (min-width: @grid-float-breakpoint) {
    .navbar-form {
      float: left;
    }
  }

  @media (max-width: @grid-float-breakpoint) {
    .navbar-text {
      float: none;
      margin-left: @navbar-padding-horizontal;
      margin-right: @navbar-padding-horizontal;
    }
  }
}

.book {
  h1 .author {
    white-space: nowrap;
  }
}

.price {
  .trend {
    .glyphicon;

    &.up {
      .glyphicon-circle-arrow-up;
    }

    &.down {
      .glyphicon-circle-arrow-down;
    }

    &.unchanged {
      .glyphicon-circle-arrow-right;
    }
  }
}