h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-rendering: optimizeLegibility;
}

.ember-application .no-ember {
  display: none;
}

body .navbar {
  border-radius: 0;

  @media (min-width: @grid-float-breakpoint) {
    .navbar-form {
      float: left;
    }
  }

  @media (max-width: @grid-float-breakpoint) {
    .navbar-text {
      float: none;
      margin-left: @navbar-padding-horizontal;
      margin-right: @navbar-padding-horizontal;
    }
  }
}


@media (max-width: @grid-float-breakpoint) {
  .view-books {
    overflow-x: hidden;

    > .inner {
      width: 200%;
      margin-left: 0;
      margin-right: 0;

      .transition-transform(0.4s ease-in-out);

      &.detail {
        .translate(-50%; 0);
      }
    }
  }

  .view-list, .view-detail {
    width: 50%;
    float: left;
  }
}

.book {
  h1 .author {
    white-space: nowrap;
  }
}

.price {
  .trend {
    .glyphicon;

    &.up {
      .glyphicon-circle-arrow-up;
    }

    &.down {
      .glyphicon-circle-arrow-down;
    }

    &.unchanged {
      .glyphicon-circle-arrow-right;
    }
  }
}