<nav role="navigation" {{bind-attr class=":navbar :navbar-default App.loading.loading"}}>
  <div class="container">
    <a class="navbar-brand" href="#/">
      <abbr title="Amazon Trade In Price Checker">ATRIC</abbr>
    </a>

    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-text">
        Hi, {{App.User.name}}.
      </li>
      <li>
        <a href="/api/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>