<div class="modal active">
  <div class="jumbotron">
    <h1>Loading&hellip;</h1>
    <p>
      Just fetching the last details&hellip;
    </p>
  </div>
</div>
<div class="modal-backdrop fade in"></div>